[user]
	email = leykauf@physik.hu-berlin.de
	name = Bastian Leykauf
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
[credential]
	helper = cache
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
