console_title_template = '{{ .Shell }} in {{ .Folder }}'
version = 3
final_space = true

[upgrade]
source = 'cdn'
interval = '168h'
auto = false
notice = true

[[blocks]]
type = 'prompt'
alignment = 'left'

[[blocks.segments]]
style = 'diamond'
foreground = 'black'
background = 'blue'
leading_diamond = ''
trailing_diamond = ''
type = 'path'
