console_title_template = '{{ .Shell }} in {{ .Folder }}'
version = 4
final_space = true

[transient_prompt]
  template = '❯ '
  foreground = 'white'
  background = 'transparent'

[upgrade]
  source = 'cdn'
  interval = '168h'
  auto = false
  notice = true

[[blocks]]
  type = 'prompt'
  alignment = 'left'

  [[blocks.segments]]
    template = '{{ .Path }}'
    foreground = 'blue'
    background = 'transparent'
    type = 'path'
    style = 'plain'

    [blocks.segments.options]
      style = 'full'

[[blocks]]
  type = 'prompt'
  alignment = 'right'

  [[blocks.segments]]
    leading_diamond = ''
    trailing_diamond = ''
    foreground = 'black'
    background = 'white'
    type = 'git'
    style = 'diamond'

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true

  [[blocks.segments]]
    template = '❯'
    foreground = 'blue'
    background = 'transparent'
    type = 'text'
    style = 'plain'
